

<!Doctype html>
<html>
    <head>
        <title>PRACTICA 0</title>
        <style type="text/css">
            body{
                background-color: yellow;
            }  
        </style>
    </head>
    <body>
        <h1>PRACTICA 0</h1>
        <div>
            Imagen <br/><br/>
        </div>
        <h2>Descripcion:</h2>
        <ul>
            <li>Consiste en una calculadora que realiza operaciones de sumar, restar, multiplicar y dividir.</li>
            <li>Cuando se divide por 0 da un error 400 bad request.</li>
            <li>Para acceder a la calculadora, se debe colocar lo siguiente: [ip_servidor]/operacion.</li>
            <li><u><b>¡Que disfrute de la página web!</b></u></li>
        </ul>
        <p>Autor: Carlos</p>
    </body>
</html>